body {
    font-family: sans-serif, arial, helvetica;
}
/* Navigaton bullets styles
 * --------------------------------------- */
 #pp-nav li .active span, .pp-slidesNav .active span {
    background: #bbb;
}
#pp-nav span, .pp-slidesNav span {
    border-color: #bbb !important;
}
/* Sections
	 * --------------------------------------- */
 .section {
    background-attachment: fixed;
    background-size: auto 80%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

#section1 {
    background-color: #333;
}
#section2 {
    background-color: #333;
/*    background-image: url(../images/owl-logo1.png);
*/}
#section3 {
    background-color: #333;
}
#section4 .content {
    top: 100%;
    position: absolute;
    left: 0;
}
/* Arrow
	 * --------------------------------------- */
 #arrow {
    width: 100%;
    height: 50px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    border: 0;
    outline: 0;
    z-index: 100;
    color: #BBB;
    background: transparent;
    -moz-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    -webkit-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    font: 36px Heiti, 'Lucida Grande', Arial;
    font-weight: bold;
}
#arrow span {
    display: inline-block;
    position: relative;
    top: -18px;
    -moz-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    -webkit-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
}
#arrow:hover {
    background: #000;
}
#arrow:hover span {
    top: 0;
    color: #FFF;
}
/* Intro texts
	 * --------------------------------------- */
 .intro {
    position: absolute;
    bottom: 100px;
    text-align: center;
    width: 100%;
}

.intro img {
	margin: 0 auto;
	border-radius: 50%;
	clip-path: circle(100px at center);
}

 @media only screen and (min-width : 320px) {
    .intro img {
		max-width: 50%;
	}    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .intro img {
		max-width: 50%;
	}    

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .intro img {
		max-width: 50%;
	}    

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .intro img {
		max-width: 30%;
	}    

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .intro img {
		max-width: 30%;
	}    

}


.intro h1 {
    font-size: 2em;
    font-weight: bold;
    color: #000;
}
#section4 .intro {
    color: #000;
}
/* Content page
	 * --------------------------------------- */
 .header {
    padding-top: 80px;
    text-align: center;
}
.header h1 {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}
.header p {
    color: #f2f2f2;
    font-size: 1.7em;
}
.page {
    width: 80%;
    margin: 60px auto;
    background:white;
    padding: 60px;
    -webkit-box-sizing: border-box;
    /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box;
    /* <=28 */
    box-sizing: border-box;
}
.page p {
    font-style: 12px;
    margin: 20px 0 0 0;
    line-height: 1.35em;
    color: #333;
}