
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

/* Preloader */
#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#00AEF3; /* change if the mask should have another color then white */
  z-index:99999; /* makes sure it stays on top */
}

#status {
  width:800px;
  height:600px;
  position:absolute;
  left:50%; /* centers the loading animation horizontally one the screen */
  top:50%; /* centers the loading animation vertically one the screen */
  background-image:url(../images/status4.gif); /* path to your loading animation */
  background-repeat:no-repeat;
  background-position:center;
  margin:-400px 0 0 -400px; /* is width and height divided by two */
}


.owlocator h1, h2, p {
    color: white;
}

.owlocator h1 {
    font-size: 3em;
}

.owlocator h2 {
    font-size: 2em;
}

.owlocator .title {
    font-weight: 700;
}

.portfolio_links {
    text-align: center;
}

.owlocator i {
    color: white;
}

/*.owlist h1, h2, p, i, a{
    color: black;
}*/

.dark {
    color: black;
}


#logo {
    text-indent: -9999px;
    height: 48px;
    width: 100%;
    margin-left: auto !important; 
    margin-right: auto !important;
    padding-bottom: 10px;
}

#logo a {
    display: block;
    width: 190px;
    height: 48px;
    margin-left: auto !important; 
    margin-right: auto !important;
    background-image: url("../images/swift.svg");
    background-repeat: no-repeat;
    background-size: 190px 48px
}

#objective-c {
    text-indent: -9999px;
    height: 48px;
    width: 100%;
    margin-left: auto !important; 
    margin-right: auto !important;
    padding-bottom: 10px;
}

#objective-c a {
    display: block;
    width: 190px;
    height: 48px;
    margin-left: auto !important; 
    margin-right: auto !important;
    background-image: url("../images/objective-c.svg");
    background-repeat: no-repeat;
    background-size: 190px 48px;
    border-radius: 20%;
}

#sprite-kit {
    text-indent: -9999px;
    height: 100px;
    width: 100%;
    margin-left: auto !important; 
    margin-right: auto !important;
    padding-bottom: 10px;
}

#sprite-kit a {
    display: block;
    width: 190px;
    height: 48px;
    margin-left: auto !important; 
    margin-right: auto !important;
    background-image: url("../images/sprite-kit.svg");
    background-repeat: no-repeat;
    background-size: 190px 48px;
    border-radius: 20%;
}

#app-store {
    display: block;
    border-radius: 0%;
    margin: 0 auto;
}

.colored {
    background-color: black;
}

.objective-c-icon {
    max-width: 20%;
    max-height: 10%;
}

.cyber-punch {
    border-radius: 10%;
}

.owlist {
    border-radius: 10%;
}

.main-image {
/*    text-align: center;
*/    margin: 0 auto;
}

.no-padding {
    padding-left: 10;
    padding-right: 10;
}

@media only screen and (min-width : 375px) {
    .main-image {
        max-width: 60%;
    }
    .owlocator {
        vertical-align: center;
    }

    #app-store {
        width: 50%; 
        height: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .owlocator h1, h2, p {
        margin-top: 0;
    }

    #logo {
        margin-top: 10px;
        margin-bottom: 10px;
    }


}

/* iPhone 6 media queries */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {

 }


@media (min-height: 800px) {
    *{
        margin-bottom: 0;
    }

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    #app-store {
        width: 40%; 
        height: 40%;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #app-store {
        width: 50%; 
        height: 50%;
    } 

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #app-store {
        width: 40%; 
        height: 40%;
    }   

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    #app-store {
        width: 40%; 
        height: 40%;
    }   

}



/*.external_links {
    padding: 0 auto;
}*/

/**{
    padding:0;
    margin:0;
}

body{
    font-family: "Ubuntu", sans-serif;
    font-size: 100%;
    background:#f8f8f8;
}

a{
    text-decoration: none;
    color:#666;
}
a:hover{
    color:#999;
}

p{
    line-height: 2em;
    margin:0 0 20px;
    text-align: center;
}*/

